body,html{
    height: 100%;
    margin:0
}


.display, .math-container,.math-left,.math-right{
    display: flex;
    flex-wrap: wrap;
}

.math-left,.math-right{
    max-height:28.125em;
    flex-direction: column;
}

.display,.math-container{
    flex-direction: row;
}

.display{
    justify-content: space-around;
}

.math-container{
    justify-self:center;

}
.math-left{
    max-width: 37.5em;
}

.math-right{
    max-width: 37.5em;
}

button{
    width:9.375em;
    height:9.375em
}